@{
    ViewBag.Title = "Página de inicio";
}

<div class="row">
    <div class="col-12 border border-primary rounded bg-blue mb-4 ml-1 mr-1">
        <h1 class="text-center">Kermesse App⛪</h1>
        
    </div>
    <div class="col-12 mb-3">
        <h3 class="text-left">Accesos directos</h3>
    </div>
</div>

<div class="row">

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Arqueo de caja*</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/ArqueoCajas">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/ArqueoCajas/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/ArqueoCajas/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/ArqueoCajas/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/ArqueoCajas/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Arqueo de caja detalle*</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/ArqueoCajaDets">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/ArqueoCajaDets/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/ArqueoCajaDets/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/ArqueoCajaDets/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/ArqueoCajaDets/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Categorías de gastos</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/CategoriaGastoes">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/CategoriaGastoes/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/CategoriaGastoes/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/CategoriaGastoes/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/CategoriaGastoes/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Categorías de productos</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/CategoriaProductoes">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/CategoriaProductoes/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/CategoriaProductoes/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/CategoriaProductoes/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/CategoriaProductoes/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Comunidades*</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/Comunidads">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/Comunidads/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/Comunidads/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/Comunidads/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/Comunidads/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Bonos*</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/ControlBonoes">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/ControlBonoes/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/ControlBonoes/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/ControlBonoes/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/ControlBonoes/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Denominaciones*</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/Denominacions">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/Denominacions/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/Denominacions/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/Denominacions/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/Denominacions/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Gastos*</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/Gastoes">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/Gastoes/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/Gastoes/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/Gastoes/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/Gastoes/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Ingreso de comunidad*</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/IngresoComunidads">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/IngresoComunidads/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/IngresoComunidads/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/IngresoComunidads/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/IngresoComunidads/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Ingreso de comunidad detalle*</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/IngresoComunidadDets">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/IngresoComunidadDets/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/IngresoComunidadDets/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/IngresoComunidadDets/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/IngresoComunidadDets/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Lista de precios</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/ListaPrecios">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/ListaPrecios/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/ListaPrecios/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/ListaPrecios/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/ListaPrecios/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Lista de precios detalle*</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/ListaPrecioDets">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/ListaPrecioDets/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/ListaPrecioDets/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/ListaPrecioDets/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/ListaPrecioDets/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Monedas</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/Monedas">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/Monedas/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/Monedas/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Monedas/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Monedas/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Opciones</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/Opcions">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/Opcions/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/Opcions/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Opcions/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Opcions/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Parroquias</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/Parroquias">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/Parroquias/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/Parroquias/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/Parroquias/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/Parroquias/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Productos*</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/Productoes">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/Productoes/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/Productoes/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Productoes/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Productoes/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Rol Opciones*</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/RolOpcions">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/RolOpcions/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/RolOpcions/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/RolOpcions/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/RolOpcions/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Roles*</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/Rols">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/Rols/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/Rols/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Rols/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Rols/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Rol Usuarios*</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/RolUsuarios">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/RolUsuarios/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/RolUsuarios/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/RolUsuarios/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/RolUsuarios/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Tasa de cambio*</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/TasaCambios">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/TasaCambios/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/TasaCambios/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/TasaCambios/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/TasaCambios/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Tasa de cambio detalle</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/TasaCambioDets">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/TasaCambioDets/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/TasaCambioDets/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/TasaCambioDets/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/TasaCambioDets/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-3">
            <div class="card-body">
                <h3 class="card-title">Usuarios</h3>
                <div class="row">
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/Usuarios">Lista</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <a class="btn btn-primary w-100" href="/Usuarios/Create">Crear</a>
                    </div>
                    <div class="col-12 col-xl-4 mb-1">
                        <div class="dropdown">
                            <button class="btn btn-primary w-100"
                                    type="button"
                                    id="reportOptions"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Reporte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="reportOptions">
                                <li>
                                    <a class="dropdown-item"
                                       href="/Usuarios/verReporte?tipo=PDF"
                                       target="_blank">PDF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Usuarios/verReporte?tipo=Word">Word</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="/Usuarios/verReporte?tipo=Excel">Excel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
